input::-webkit-input-placeholder {
  color: #8DA291; }

input:-ms-input-placeholder {
  color: #8DA291; }

input::-ms-input-placeholder {
  color: #8DA291; }

input::placeholder {
  color: #8DA291; }

.login_link_btn {
  height: 56px; }

@media screen and (max-width: 767px) {
  .login_link_gutter_right {
    padding-right: 5px !important; }
  .login_link_gutter_left {
    padding-left: 5px !important; }
  .login_link_img {
    height: 30% !important; } }

.product_title {
  width: 90px;
  position: absolute;
  right: 40px;
  top: 40px; }

@media screen and (max-width: 767px) {
  .product_bg {
    height: 277px; }
  .product_title {
    width: 60px !important; } }
