$main: #3F5D45;
$main_light: #8DA291;
$main_lighter: #EAF0ED;
$accent: #ffe180;

// cart
.cart_row_img{
  height: 110px;
  width: 110px;
}
.cart_amount{
  width: 145px;
}
.cart_amount_btn{
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 767px){
  .cart_row_img{
    height: 110px;
    width: 130px;
  }
  .price{
    border-top: 1px solid rgba(black, .1);
  }
  .cart_summary{
    background-color: white !important;
    color: $main !important;
  }
  .cart_summary_title{
    background-color: $main_lighter;
  }
}
